{% extends 'layout.twig' %}		
{% block head %}
	<script>
	window.onload = function () {
		var form = document.getElementById('form');
		form.addEventListener('keypress', function (event) {
			var target = event.target;
			if (target.name == 'ramal[]') {
				apenasNumero(event);
			}
		});
		var inputCo = document.getElementById("input_contato");
		var bloqueiaTecla1 = new BloqueadoTecla();
		inputCo.addEventListener('keypress', function (event) { bloqueiaTecla1.bloqueia(event); }, false);
	};
	</script>
{% endblock %}
{% block body %}
<form id="form" action="{{ app.request.server.get('REQUEST_URI') }}" method="post">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label>Nome do Contato :</label>
										<input type="text"	class="form-control" autocomplete="off" name="contato"
										id="input_contato" value="{{ contato.Nome }}">
                    </input>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Cargos :</label>
								<input type="text" name="cargos" max-length="50" value="{{ contato.Cargo }}"
                    class="form-control" id="input_cargos" autocomplete="off">
                </input>
							</div>
						</div>
					</div>
					{% for ramal in ramais %}
					<input type="hidden" name="ramais_id[]" value="{{ ramal.Id }}" />
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label>Tipos :</label>
								<select class="form-control" name="tipos[]">
									{% for tipos in todos_tipos %}
									<option value="{{ tipos }}" {{ ramal.Tipo == tipos ? 'selected' : ''}}>
										{{ tipos }}
									</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Ramal :</label>
								<input type="text" id="input-ramal" name="numeros[]" value="{{ ramal.Numero }}" class="form-control" autofocus autocomplete="off"/>
							</div>
						</div>
					</div>
					{% endfor %} 
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<input name="Alterar" type="submit" value="Alterar" class="form-control botao">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<input name="deletaRamais" type="submit" value="Deletar Ramais" class="form-control botao">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<input name="deletaContato" type="submit" value="Deletar Contato" class="form-control botao">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
{% endblock %}
