<form method="post">
	<div class="row">
  	<div class="col-md-3">
      <div class="form-group">
        <label>Usuário :</label>
				<input type="text" name="usuario" id="input_contato" value="{{ usuario is defined ? usuario.login }}" class="form-control" autocomplete="off" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Permissão Usuário :</label>
				<div>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" name="pusuario[]" value="1" {{ usuario is defined and usuario.hasPermUsuario('consultar') ? 'checked' }}>Consultar
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox2" name="pusuario[]" value="2" {{ usuario is defined and usuario.hasPermUsuario('inserir') ? 'checked' }}>Inserir
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox3" name="pusuario[]" value="4" {{ usuario is defined and usuario.hasPermUsuario('alterar') ? 'checked' }}>Alterar
				</label>
				</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
      <label>Permissão Contato :</label>
				<div>
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" name="pcontato[]" value="1" {{ usuario is defined and usuario.hasPermContato('consultar') ? 'checked' }}>Consultar
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox2" name="pcontato[]" value="2" {{ usuario is defined and usuario.hasPermContato('inserir') ? 'checked' }}>Inserir
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox3" name="pcontato[]" value="4" {{ usuario is defined and usuario.hasPermContato('alterar') ? 'checked' }}>Alterar
					</label>
				</div>
      </div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-3">
			<div class="form-group">
				<label>Senha :</label>
				<div class="input-group">
					<span class="input-group-addon">
						<input id="permiteSenha" type="checkbox" {{ usuario is defined ?: 'checked disabled'}}>
					</span>
					<input id="inputSenha" type="password" name="senha" class="form-control" {{ usuario is defined ? 'disabled'}}>
				</div>
			</div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
				<input type="hidden" name="id" id="input_contato" value="{{ usuario is defined ? usuario.id }}" class="form-control" autocomplete="off" />
      </div>
    </div>
	</div>
  <div class="row">
		{% if usuario is defined %}
    <div class="col-md-2">
      <div class="form-group">
        <button id="alterar" class="btn btn-success form-control">
					<span>Alterar</span>
					<span class="loader"></span>
				</button>	
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <button id="novo" class="btn btn-warning form-control">
					<span>Novo</span>
					<span class="loader"></span>
				</button>	
      </div>
    </div>
		{% else %}
    <div class="col-md-2">
      <div class="form-group">
        <button id="inserir" class="btn btn-success form-control">
					<span>Inserir</span>
					<span class="loader"></span>
				</button>	
      </div>
    </div>
		{% endif %}
  </div>
</form>
